@page "/"

<PageTitle>Home</PageTitle>

<h1>UK Parliament Endpoints Admin</h1>

<p>This is a Blazor Web App that consumes the <a target="_blank" href="https://ukparliamentendpoints-services.azurewebsites.net/swagger/index.html">UK Parliament Endpoints API</a>.</p>

<p>
    The code <a target="_blank" href="https://github.com/ChrisBrooksbank/UKParliamentEndPointsAdmin">repo is on github</a>
</p>

<p>
    Merging in a pull request will automatically build and deploy the website using a <a target="_blank" href="https://github.com/ChrisBrooksbank/UKParliamentEndPointsAdmin/actions/runs/9420099237/workflow">github action</a>
     Deployment is to <a target="_blank" href="https://ukparliamentendpointsadmin.azurewebsites.net/">Azure.</a>
</p>


